:root {
	--font: 'Open Sans', sans-serif;
	--primary-color: #FE724C;
	--primary-hover-color: rgb(230, 98, 61);
	--text-color: #000000;
	--email-color: #9EA1B1;
	--text-secondary-color: #5B5B5E;
	--white-color: #FFFFFF;
	--separator-color: #D4D6E0;
	--input-border-color: #EEE;
	--input-placeholder-color: #C4C4C4;
}
body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
}